.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background: rgb(230, 230, 230);
}

.content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#map {
    height: 25em;
    width: 25em;
    border: 2px solid #000;
	border-radius: 5px;
}

#list {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.button{
    font-size: 1.1em;
    padding: .6em;
    margin: 0.2em 3.5em;
    border: 1.5px solid #000;
	border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#twitter{
    background: #1DA1F2;
}

#zen{
    background: #49B749;
}
