#main {
	padding: 5px 0px;
	background: #121212;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	color: #fff;
}

.socials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	flex-direction: row;
	flex-wrap: wrap;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 1em;
	cursor: pointer;
	max-width: 10em;
}

/* Socials */

#twitter {
	color: #55acee;
	margin-right: 0.2em;
	font-size: 2em;
}

#youtube {
	color: #bb0000;
	margin-right: 0.2em;
	font-size: 2em;
	color: #bb0000;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, #ffffff 10%, #ffffff 90%, rgba(0, 0, 0, 0) 90%);
	text-align: center;
	margin: .5rem;
	line-height: .4em;
}

#github {
	color: white;
	margin-right: 0.2em;
	font-size: 2em;
}
