html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-weight: bold;
  font-family: LeagueGothic;
  font-style: italic;
  font-weight: 400;
  font-family: "LeagueGothic";
}

@font-face {
  font-family: "LeagueGothic";
  src: url("/LeagueGothic-Regular.otf");
}

.anchor{
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}