#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(95deg, #f0aa71, rgba(85, 56, 250, 0.993));
}

#titulo {
    font-size: 2em;
}

#text {
    font-size: 1.2em;
    text-align: center;
}
