#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 0;
}

#titulo {
    font-size: 5.6rem;
    margin: 0;
    margin-bottom: 20px;
}

#text {
    font-size: 1.3em;
    text-align: center;
    max-width: 1280px;
    margin: 20px 25px 0 25px;
}

.spacer{
    aspect-ratio: 960/290;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/separator.svg");
}